@import "../../scss/variables";

.main {
  padding-bottom: 8rem;
}
.container {
  .forms {
    max-width: 600px;
    margin: 1rem auto;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem 0.5rem;

  .cards {
    width: 400px;
    height: 300px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    &:hover .card-over {
      transform: translateY(0%);
    }
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  .price {
    position: absolute;
    top: 0%;
    right: 0%;

    background-color: rgba(0, 0, 0, 0.082);
    color: $secondaryColor;
    padding: 0.7rem 0.9rem;
    font-size: 1.2rem;
    border-radius: 10px 0 10px 0;
    z-index: 2;
  }
  img {
    width: 400px;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
    opacity: 0.9;
    &:hover {
      opacity: 1;
      transition: 0.5s;
    }
  }
  .card-over {
    width: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: $secondaryColor;
    font-size: 1.4rem;
    z-index: 3;
    padding: 1rem;
    transform: translateY(100%);
    transition: transform 0.7s;
    text-align: center;
  }
}
#togglePage {
  width: 400px;
  height: 300px;

  opacity: 0.8;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.795);
  padding: 2rem;
  font-size: large;
}
#bcg-image {
  background-image: url("https://images.unsplash.com/photo-1621768216002-5ac171876625?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YXBwbGUlMjBpbmN8ZW58MHx8MHx8fDA%3D&w=1000&q=80") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
