@import "../../scss/variables";
@import "../../scss/mixins";

.navbar {
  background-color: $cardNavBgColor !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;
  .navBtn {
    margin-right: -10rem;
    padding-left: 12rem;
  }

  button {
    color: $secondaryColor;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.521);
    padding: 0.7rem 2.5rem !important;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
    font-size: 1.3rem;

    &:hover {
      background-color: $secondaryColor;
      color: $cardNavBgColor;
    }
  }

  img {
    width: 150px;
    height: 100px;
    margin-left: -3rem;
    margin-bottom: -0.8rem;
    margin-top: -0.3rem;

    &:hover {
      cursor: pointer;
    }
  }
}

@include media-xsm {
  .links {
    flex-direction: column;
  }
}
@include media-lg {
  .links {
    flex-direction: row;
  }
}

button.active {
  background-color: $secondaryColor;
  color: $cardNavBgColor;
}
